/** 版心 **/
.w {
  width: 1190px;
  margin: auto;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.style-red {
  color: #F10215 !important;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  /* 这句话可以出发BFC BFC可以清除浮动,BFC我们后面讲 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot?snsrp8');
  src: url('../fonts/icomoon.eot?snsrp8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?snsrp8') format('truetype'),
    url('../fonts/icomoon.woff?snsrp8') format('woff'),
    url('../fonts/icomoon.svg?snsrp8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F6F6F6;
}

input, button {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

/* 京东 顶部 start */
.J_event {
  height: 80px;
  background-color: #FCB4FE;
}

.J_event a {
  display: block;
  height: 80px;
  background: url(../images/top.jpg);
  position: relative;
}

.J_event a i {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 5px;
  font-family: "icomoon";
  font-style: normal;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

/* 快捷导航模块 */
.shortcut {
  height: 30px;
  background-color: #E3E4E5;
  border-bottom: 1px solid #DDDDDD;
  color: #9D9D9D;
  font-size: 12px;
  line-height: 30px;
}

.shortcut a {
  color: #9D9D9D;
  font-size: 12px;
  text-decoration: none;
}

.shortcut a:hover {
  color: #c81623;
}

.shortcut .fr li {
  float: left;
}

.shortcut .fl li {
  margin-left: 200px;
  height: 30px;
  overflow: hidden;
}

.pos {
  font-family: "icomoon";
  font-style: normal;
  font-size: 14px;
  color: #F10215;
}

.spacer {
  width: 1px;
  height: 10px;
  background-color: #CCCCCC;
  margin: 10px 10px 0;
}

.dropdown {
  padding-right: 15px;
  position: relative;
}

.dropdown i {
  font-family: "icomoon";
  font-style: normal;
  font-size: 16px;
  position: absolute;
  right: -2px;
  top: -2px;
}

.phone-jd {
  position: relative;
  z-index: 1;
}

.erweima {
  width: 60px;
  height: 60px;
  border: 1px solid #CCC;
  padding: 3px;
  position: absolute;
  left: -5px;
  top: 31px;
}

/* Header 模块 */
.header {
  height: 140px;
}

.inner {
  height: 140px;
  position: relative;
}

/* Logo 模块 */
.logo {
  width: 190px;
  height: 170px;
  position: absolute;
  top: -30px;
  left: 0;
  box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
}

.logo h1 {
  margin: 0;
}

.logo a {
  display: block;
  width: 190px;
  height: 170px;
  background: url(../images/logo.jpg) no-repeat;
  text-indent: -99999em;
  overflow: hidden;
}

/* 搜索模块 */
.search {
  width: 550px;
  height: 35px;
  position: absolute;
  top: 25px;
  left: 320px;
}

.search input {
  padding-left: 5px;
  width: 493px;
  height: 33px;
  border: 1px solid #F10215;
  /* 取消蓝色边框 */
  outline: none;
  color: #989898;
  float: left;
}

.search button {
  width: 50px;
  height: 35px;
  background-color: #F10215;
  float: left;
  /* 鼠标变小手 */
  cursor: pointer;
  outline: none;
}

.search i {
  font-family: "icomoon";
  color: #FFF;
  font-style: normal;
  font-size: 16px;
}

.search em {
  position: absolute;
  top: 10px;
  right: 65px;
  width: 19px;
  height: 15px;
  background: url(../images/sprite-search.png);
  cursor: pointer;
}

.search em:hover {
  background-position: -30px 0;
}

/* 热词模块 */
.hotwords {
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 320px;
  width: 555px;
  height: 20px;
  line-height: 20px;
}

.hotwords a {
  float: left;
  margin-right: 10px;
  color: #999;
  font-size: 12px;
}

.hotwords a:hover {
  color: #F10215;
}

/* 购物车模块 */
.car {
  width: 188px;
  height: 33px;
  border: 1px solid #ccc;
  position: absolute;
  top: 25px;
  right: 99px;
  text-align: center;
  line-height: 33px;
  background-color: #FFF;
}

.car i {
  font-family: "icomoon";
  font-style: normal;
  color: #F10215;
  font-size: 16px;
  margin-right: 3px;
}

.car s {
  position: absolute;
  top: 5px;
  left: 140px;
  text-decoration: none;
  background-color: #f10215;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding: 0 3px;
  border-radius: 7px;
  color: #fff;
}

.car a {
  color: #F10215;
  font-size: 12px;
}

/* 电脑部分 */
.computer a {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 190px;
  height: 40px;
  background: url(../images/computer.jpg);
}

/* 导航栏信息 */
.navitems {
  position: absolute;
  left: 200px;
  bottom: 0;
}

.navitems ul {
  float: left;
}

.navitems ul li {
  float: left;
  margin-left: 30px;
}

.navitems li a {
  color: #555A5F;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  display: block;
}

.navitems li a:hover {
  color: #F10215;
}

.navitems .spacer {
  float: left;
  margin: 15px -10px 0 20px;
}

/* Footer 部分开始 */
.footer {
  height: 560px;
  background-color: #EAEAEA;
}

.footer-service {
  border-bottom: 1px solid #DEDEDE;
}

.footer-service-inner {
  padding: 30px 0;
}

.footer-service-inner li {
  float: left;
  width: 297px;
  height: 42px;
}

.service-unit {
  width: 225px;
  height: 42px;
  margin: 0 auto;
  position: relative;
}

.service-unit h5 {
  width: 36px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/ico_service.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
}

.service-unit p {
  line-height: 42px;
  margin-left: 45px;
  font-size: 18px;
  font-weight: 700;
}

.service-unit .kuai {
  background-position: 0 -44px;
}

.service-unit .hao {
  background-position: 0 -86px;
}

.service-unit .sheng {
  background-position: 0 -128px;
}

.help {
  height: 180px;
  padding: 20px;
}

.help dl {
  float: left;
  width: 195px;
}

.help dt {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  height: 30px;
}

.help dd {
  height: 22px;
}

.help dd a {
  color: #727272;
  font-size: 12px;
}

.help dd a:hover {
  color: #F10215;
}

.help .cover {
  float: right;
  width: 207px;
  height: 150px;
  background-color: purple;
  background: url(../images/ico_footer.png) no-repeat;
}

.cover dt {
  text-align: center;
}

.help .info {
  width: 175px;
  height: 50px;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
  line-height: 18px;
  	color: #727272;
}

.more {
  text-align: right;
  padding-right: 10px;
}
